<form id="bform" name="bookmark" class="form-horizontal">

	<div class="control-group" id="name-group">
	  <label class="control-label" for="name">Name</label>
		<div class="controls">
			<input type="text" name="name" id="name" value="<%= name %>" class="input-xlarge"
			placeholder="Example: UC Davis Home" />
		</div>
	</div>

	<div class="control-group" id="description-group">
	  <label class="control-label" for="description">Description</label>
		<div class="controls">
			<input type="text" name="description" id="description" value="<%= description %>" class="input-xlarge"
			placeholder="Example: The homepage of the University" />
		</div>
	</div>

	<div class="control-group" id="url-group">
	  <label class="control-label" for="url">URL</label>
		<div class="controls">
			<input type="text" name="url" id="url" value="<%= url %>" class="input-xlarge"
			placeholder="Example: http://www.ucdavis.edu" />
		</div>
	</div>

</form>
