<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <ul id="favorites" class="connectedSortable well"><span id="favorites-hint">Drag favorite applications here for quick access</span></ul>
  </div>
  <div class="span1"></div>
</div>

<div class="row-fluid">
  <div class="span1"></div>
  <div class="span10">
    <ul id="applications" class="connectedSortable"></ul>
  </div>
  <div class="span1"></div>
</div>
