<ul id="sortableFav" class="connectedSortable" />
<div class="clear" />
<div class="divider" />

<ul id="sortableApp" class="connectedSortable" />
<div class="clear" />

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>
}	
</script>

<script type="text/javascript">
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
</script>
