<h1>Favorites </h1>

<ul id="sortableFav"></ul>


<h1> Applications</h1>

<ul id="sortableApp"></ul>

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>
}	
</script>

<script type="text/javascript">

  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());


  //alert(data.apps[1].name);
  //var json = '{"result":true,"count":1}';
  //var obj = JSON.parse(json);
  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
</script>



