<div class="container-fluid" id="main-container">
  <div class="jumbotron">
    <h1>Welcome, <%= @current_user.name %></h1>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <ul id="favorites" class="connectedSortable well"><span id="favorites-hint">Drag favorite applications here for quick access</span></ul>
      <ul id="applications" class="connectedSortable"></ul>
    </div>
  </div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>,
  "person"		: <%= @current_user.to_json %>
}	
</script>

<script type="text/javascript">
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
  DssPortal.person = data.person;
</script>
