<h1>Applications </h1>

<ul id="sortable">
 	<li>
    app
	</li>
	<li>
		app
	</li>
	<li>
		app
	</li>
</ul>


<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>
}	
</script>
<script type="text/javascript">

var div = $('<div></div>');
div.html($('#bootstrap').text());

//var rawset = $('#bootstrap').text();

var data = JSON.parse(div.text());
alert(data.apps[1].name);


var json = '{"result":true,"count":1}';
var obj = JSON.parse(json);


//line about favorites here
DssPortal.apps = data.apps;
</script>



