<ul id="sortableFav" class="connectedSortable drag-list well well-small"></ul>
<div class="clear"></div>

<h2> Applications</h1>
<ul id="sortableApp" class="connectedSortable"></ul>
<div class="clear"></div>

<ul class=cardList">
  <li class="card" title="this is the description"> 
    <img class="card-icon" src="http://i.imgur.com/IOmyrAV.jpg">
    <div class="card-favorite card-interface">FAV</div>
    <div class="card-edit card-interface">EDIT </div>
    <div class="card-left card-interface"> LE</div>
    <div class="card-right card-interface"> RI</div>
    I am an Application
  </li>

  <li class="card" title="this is the description"> 
    <img class="card-icon" src="http://i.imgur.com/IOmyrAV.jpg">
    <div class="card-favorite card-interface">FAV</div>
    <div class="card-edit card-interface">EDIT </div>
    <div class="card-left card-interface"> LE</div>
    <div class="card-right card-interface"> RI</div>
    I am an Application
  </li>

  <li class="card" title="this is the description"> 
    <img class="card-icon" src="http://i.imgur.com/IOmyrAV.jpg">
    <div class="card-favorite card-interface">FAV</div>
    <div class="card-edit card-interface">EDIT </div>
    <div class="card-left card-interface"> LE</div>
    <div class="card-right card-interface"> RI</div>
    I am an Application
  </li>
</ul>

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>
}	
</script>

<script type="text/javascript">

  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
</script>



