<ul id="sortableFav" class="connectedSortable drag-list well well-small"></ul>
<div class="clear"></div>

<h2> Applications</h1>
<ul id="sortableApp" class="connectedSortable"></ul>
<div class="clear"></div>

<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>
}	
</script>

<script type="text/javascript">

  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
</script>



