<div class="row-fluid">
  <div class="span12">
    <div class="jumbotron">
      <% unless @messages.blank? %>  
        <div class="message-list">
          <% @messages.each do |message| %>
           <div class="alert alert-info"><a href= "<%= message['guid']%>"><%= message['title'] %></a></div>
          <% end %>
        </div>
      <% end %>
      <h1>Welcome, <%= @current_user.name %></h1>
    </div>
  </div> <!-- span12 -->
</div> <!-- row-fluid -->

<div id="applicationAssignments"></div>

<script type="text/json" id="bootstrap">
{
  "current_user"            : <%= @current_user.to_json %>
}
</script>

<script type="text/javascript">
$(function () {
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.initialize(data);
});
</script>
