<ul id="sortableFav" class="connectedSortable"></ul>
<div class="clear"></div>

<ul id="sortableApp" class="connectedSortable"></ul>
<div class="clear"></div>

<div class="divider"></div>

<h4><i class="icon-plus"></i> Add more applications through your <a href="/manage">'Manage Applications' page</a></h4>
<script type="text/json" id="bootstrap">
{
	"apps"		: <%= @apps.to_json %>,
  "favorites"		: <%= @favorites.to_json %>
}	
</script>

<script type="text/javascript">

  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.favorites = data.favorites;
  DssPortal.apps = data.apps;
</script>



