<div id="applicationAssignments"></div>

<script type="text/json" id="bootstrap">
{
  "current_user"            : <%= @current_user.to_json %>
}
</script>

<script type="text/javascript">
$(function () {
  var div = $('<div></div>');
  div.html($('#bootstrap').text());
  var data = JSON.parse(div.text());

  DssPortal.initialize(data);
});
</script>
