  <h1>User Created Application Bookmarks</h1>

<div id="bookmark-index">
  <table class="table table-striped table-hover table-condensed">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>URL</th>
    </tr>

  <% @bookmark_apps.each do |app| %>
    <tr id= <%= app.id %>>
      <td><%= app.name %></td>
      <td><%= app.description %></td>
      <td><%= app.url %></td>
    </tr>
  <% end %>
  </table>
</div>

<div id="bookmark-form"> 
<form>
  <fieldset>
    <label>Name</label>
    <input type="text" id="app-name" placeholder="Name…">
    <label>Description</label>
    <input type="text" id="app-description" placeholder="Description…">
    <label>URL</label>
    <input type="text" id="app-url" placeholder="URL…">
    <input type="hidden" id="app-id">
    <span class="help-block">for example   http://www.google.com.</span>
    <button type="submit" class="btn" id="appSubmit">Submit</button>
  </fieldset>
</form>

</div>

