<h1> Favorite Apps</h1>
	    <ul id="sortableFav" class="connectedSortable drag-list well well-small">
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
</ul>

<div class="clear"></div>

	<h1>Applications </h1>

	    <ul id="sortableApp" class="connectedSortable drag-list well well-small">
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    </ul>

<div class="clear"></div>

