<h1> Favorite Apps</h1>
	    <ul id="sortableFav" class="connectedSortable drag-list well well-small">
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag"  title="this is the description of the applicaiton. It is very nice.">
        <h3 class="card-title">Best App</h3>
       <div> ICON</div>
 <a href="#" class="btn"><i class="icon-heart"></i></a>
 <a href="#" class="btn"><i class="icon-heart-empty"></i></a>
 <a href="#" class="btn"><i class="icon-move"></i></a>
 <a href="#" class="btn"><i class="icon-arrow-left"></i></a>
 <a href="#" class="btn"><i class="icon-arrow-right"></i></a>



	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
</ul>

<div class="clear"></div>

	<h1>Applications </h1>

	    <ul id="sortableApp" class="connectedSortable drag-list well well-small">
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>	    
      <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    <li class="drag">
        application test
	  	</li>
	    </ul>

<div class="clear"></div>

