<div class="span12 error-message">
  <p class="lead text-error text-center">
    We're experiencing some technical difficulties.<br />
    Things should be back to normal shortly.
  </p>
  <p class="lead text-center">
    If this message persists, please contact IT.
  </p>
</div>
