
//placeholder style on drag-drop operation
.target 
{
  border: 1px solid black;
  background-color: #98FB98;
}

//main containers
#sortableFav 
{ 
  display:block; 
  overflow:hidden; 
  list-style-type: none; 
  margin: 0; 
  padding: 10px; 
  width: 98%; 
  margin-right: 2%;
  background: #FFE0FF;
}

#sortableFav li 
{ 
  margin: 3px 3px 3px 0; 
  padding-top: 10px; 
  float: left; 
  width: 150px; 
  height: 150px; 
  font-size: 1em; 
  text-align: center; 
}

#sortableApp 
{ 
  display:block; 
  overflow:hidden; 
  list-style-type: none; 
  margin: 0; 
  padding: 10px; 
  width: 100%; 
  margin-left: 0%;
}

#sortableApp li 
{ 
//  margin: 3px 3px 3px 0; 
//  padding-top: 10px; 
  float: left; 
//  width: 150px; 
//  height: 150px; 
//  font-size: 1em; 
//  text-align: center; 
}

.clear {clear: both;}

.card 
{
  float: left; 
  text-align: center; 
  width: 150px; 
  height: 150px; 
  font-size: 1em; 
  background: white;
  border-radius: 3px;
  line-height: 30px;
  margin: 3px 3px 3px 0; 
  padding: 5px;
  overflow: hidden;
  position: relative;
  cursor: move;
  font:  18px "Gill Sans", Sans-Serif;

}

.card:last-child 
{
  margin-bottom: 0;
}

.hover-card
{
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, .5);
}


#sortableApp a:hover, #sortableFav a:hover 
{
  color:#000000;
  text-decoration:underline;
}

.card-interface
{
  visibility:hidden;
  outline:solid;
  position:absolute;
}

.card-interface-favorite
{
 position: absolute;
	left: 75px;
	top: 5px;
	width: 30px;
	height: 30px;
  outline:solid;
}

.card-interface-edit
{
  position: absolute;
  outline:solid;
  left: 45px;
  top: 5px;
  width:30px;
  height:30px;
}

.card-interface-left
{
  position: absolute;
  outline:solid;
  left: 0px;
  top: 40px;
  width:25px;
  height:75px;  
}
.card-interface-right
{
  position: absolute;
  outline:solid;
  left: 125px;
  top: 40px;
  width:25px;
  height:75px; 
}

.card-icon
{
  position: absolute;
  left: 37px;
  top: 35px;
}
.dragging-card
{
  border:solid;
  z-index:9999;
}

.ui-tooltip 
{
  font: bold 14px "Helvetica Neue", Sans-Serif;
}
//------scraps below here
.move-icon
{
  position:absolute;
  right: 0%;
  top: 0%;
  width:40%;
  display: none;
}


.cardList
{
position:relative;
height: 150px;
width:150px;
}
