body {
  margin: 0;
  padding: 0;
}

.sidebar-nav {
  padding: 9px 0;
}

.jumbotron {
  text-align: center;
  
  h1 {
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 980px) {
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}


// placeholder style on drag-drop operation
.target {
  background-color: #C2FFC2;
  float:left;
  margin: 15px; 
  padding: 5px;
  width: 150px; 
  height: 150px; 
}

.target-areas {
  background-color: #333333;
}

// main containers
#favorites {
  list-style-type: none;
  margin: 0.5em auto 2em;
  text-align: center;
  font-size: 11pt;
  width: 75%;
}

#applications { 
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  
  .new-bookmark span {
    button {
      width: 75px;
      height: 75px;
      background-image: linear-gradient(to bottom, #aaa, #888);
    }
    .btn-success {
      &:hover {
        background-color: #888;
      }
    }
  }
}

.clear {
  clear: both;
}

.card {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: 150px;
  height: 150px;
  padding: 20px 20px 0 20px;
  overflow: hidden;
  position: relative;
  list-style: none;
  
  h4 {
    font-weight: normal;
  }

  .delayed-links {
    position: absolute;
    top: 20px;
    right: 40px;
    z-index: 1;
    text-align: right;
    display:none;

    .control {
      font-size: 110%;
      margin-bottom: 5px;
      cursor:pointer;
      display: block;
    }
  }
}

.new-bookmark {
	display: block;
	margin: 0 auto;
}

.card-title {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 150px;
  height: 30px;
}
.card:last-child 
{
  margin-bottom: 0;
}

.hover-card
{
  box-shadow: 0 0 5px -1px rgba(0, 0, 0, .5);
}

#applications a:hover, #favorites a:hover, h4 a:hover {
  color:#888888;
}

.dragging-card {
  z-index: 9999;
}

.ui-tooltip  {
  font: bold 14px "Helvetica Neue", Sans-Serif;
}

//------scraps below here
.move-icon
{
  position:absolute;
  right: 0%;
  top: 0%;
  width:40%;
  display: none;
}

#bookmark-index
{
  width:70%;
  float:left;
}

#bookmark-form
{
  margin-left:100px;
  padding: 10px;
  float:left;
 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.divider
{
  padding:10px;
  padding-top: 3px;
  border-bottom: solid 1px #BBBBBB;
}

.edit-form
{
  display: none;
}

.create-form
{
  display:none;
}

.editor-active {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid yellow;
}

a {
  color: #000;
}
