// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.highlight {
    border: 1px solid black;
    background-color: white;
}
  #sortableFav { display:block; overflow:hidden; list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #sortableFav li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 1em; text-align: center; }

  #sortableApp { display:block; overflow:hidden; list-style-type: none; margin: 0; padding: 0; width: 450px; }
  #sortableApp li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 1em; text-align: center; }

  .clear {clear: both;}


.drag-list {
  margin: 0 0 20px 0;
  list-style: none;
  overflow: auto;
  padding: 1.2%;
}

  .placeholder {
    background: #08c;
  }

  .drag-list li.drag, .drag-list .placeholder {
    background: white;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, .5);
    border-radius: 3px;
    line-height: 30px;
    margin: 0 0 10px 0;
    padding: 5px;
    overflow: auto;
    z-index: 1000;
  }

  .drag-list li.drag:last-child {
    margin-bottom: 0;
  }

.drag-list li.drag .delete-btn {
  margin-top: 5px;
}

.drag-list li.drag .icon-move {
  cursor: move;
  margin-top: 6px;
}

.drag-list select {
  margin: 3px 0 0 0;
  height: 25px;
}
